* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px; 
    --designColor: #6389df;
    --bgColor: white;
}

html,
.input,
.submit-btn {
    font-family: 'Raleway', sans-serif;
}

#blueHill,
.keyLock {
    /* Set a maximum width and height for the images to maintain their original size */
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
}

.background-container {
    /* Fixed position to stay in the same position on the screen, regardless of any scrolling position */
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100%; 
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    overflow: auto;
}

.keyLock {
    /* Lowest stack order to display behind all elements with a greater stack order */
    z-index: -1;
}

#matrix {
    /* To prevent the canvas element from affecting the layout of other elements */
    position: absolute;
    z-index: 0;
}

#blueHill {
    z-index: 1;
}

.login-content {
    display: flex;
    align-items: center;
    justify-content: center;
    /* highest stack order to display on top of all elements with a lesser stack order */
    z-index: 2;
}

.login-form {
    width: 360px;
    display: flex;
    flex-direction: column;
    /* vertically center the form element within the article */
    justify-content: center;
}

.avatar {
    height: 100px;
    /* 'auto' for horizontal margins (left/right) will center the element horizontally within its containing block */
    margin: 0 auto;
}

.title {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.input-container {
    width: 100%;
    /* vertically center icon and input */
    display: flex; 
    align-items: center; 
    border-bottom: 2px solid var(--designColor);
    margin-bottom: 25px;
}

.bx {
    font-size: 18px;
    color: var(--designColor);
}

.bx.bxs-user, 
.bx.bxs-lock-alt, 
.bx.bxs-envelope { 
    margin-right: 10px; 
} 

#toggle-icon-front, 
#toggle-icon-back { 
    color: dimgray; 
    margin-left: 10px; 
} 

.bx.bxs-show { 
    display: inline; 
} 

.input {
    /* ensures input element expands horizontally to take up all available space within its parent container */
    flex: 1; 
    font-size: 1rem;
    height: 45px;
    border: none;
}

.input:active,
.input:hover,
.input:focus {
    outline: none;
}

/* initially hide both sections */
.sign-in-card, .sign-up-card {
    display: none;
}

/* show Sign In content when the Sign In input is checked */
#tab-1:checked ~ .card-container .sign-in-card {
    display: block;
}

/* show Sign Up content when the Sign Up input is checked */
#tab-2:checked ~ .card-container .sign-up-card {
    display: block;
}

.tab {
    text-transform: uppercase;
    margin-right:15px;
    font-size: 1.3rem;
}

.sign-in-card .entry-box,
.sign-up-card .entry-box {
    margin-bottom: 5px;
}

.login-container {
    margin-top: 25px;
}

.card-container {
   margin-top: 15px; 
}

.aid-anker-container {
    text-align: right; 
}

.aid-anker {
    /* anchor is by default inline-level element but needs to gain some block-level properties as well for the transform scaling effect */
    display: inline-block; 
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--designColor);
    transition: color 0.3s ease, transform 0.3s ease;
}

.aid-anker:hover {
    color: #7b63df;
    /* hovering makes text slightly larger */
    transform: scale(1.07);
}

.submit-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 20px 0;
}

.submit-btn {
    /* height matches the height of the "welcome" title */
    height: 2.5rem;
    /* width matches approx. the width of the "welcome" title */
    width: 225px;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    border: 2px solid black;
    border-radius: 20px;
    color: var(--bgColor);
    background-color: var(--designColor);
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* hovering will shift the button slightly upwards and alter its shadow, creating a 3D-like lifting effect */
.submit-btn:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    background-color: #5278f2; 
    /* Add a subtle glow effect on hover */
    filter: drop-shadow(0 0 5px rgba(82, 120, 242, 0.7)); 
}
